doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://necolas.github.io/normalize.css/3.0.2/normalize.css')
    link(rel='stylesheet', href='http://loqtencanta.com/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://loqtencanta.com/stylesheets/elastislide.css')
    link(rel='stylesheet', href='http://loqtencanta.com/stylesheets/component.css')
    script(src="http://loqtencanta.com/javascripts/modernizr.custom.js")

  body
    block content