doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/component.css')
    link(rel='stylesheet', href='/stylesheets/carrousel.css')
    link(rel='stylesheet', href='/stylesheets/elastislide.css')
    //link(rel='stylesheet', href='/stylesheets/demo.css')
    script(src="javascripts/modernizr.custom.js")
  body
    block content